# Copy this file to .env.development or .env.production and fill in the values

VITE_API_BACKEND=supabase
VITE_SUPABASE_URL=https://ucrccvvzrcsjldxciqgs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjcmNjdnZ6cmNzamxkeGNpcWdzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzMTEyNzcsImV4cCI6MjA5NDg4NzI3N30.jO4rDx2K4tE8Zpj19MK294yBpS2YpMfLHVESu9FXDlM